.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rproj.user/2E9D2AEB/pcs/source-pane.pper
.Rproj.user/2E9D2AEB/pcs/workbench-pane.pper
.Rproj.user/2E9D2AEB/saved_source_markers
.Rproj.user/2E9D2AEB/sources/prop/INDEX
